<nav class="navBar">
  <a  class="active" [routerLink]="['/recipes']" >Home</a>
  <a  [routerLink]="['/recipe-search']" >Search Recipe <mat-icon id="icon-padding">search</mat-icon></a>
  <a  [routerLink]="['/recipe-list']" >My Recipe <mat-icon id="icon-padding">list_alt</mat-icon></a>
  <a  [routerLink]="['/recipe-create']" >Create Reicpe <mat-icon id="icon-padding">note_add</mat-icon></a>
</nav>

<h3 class="title">Search the web for your favorite Recipes!</h3>

<mat-form-field  color='primary' id='search-input' class='full-width' appearance='outline'>
  <mat-label color='red'>Search Recipes</mat-label>
  <input #searchRecipes matInput  [(ngModel)]='searchValue' name='searchRecipes' [value]='searchValue' (keyup.enter)='getEdamamRecipes(searchValue)'>
</mat-form-field>
<button mat-raised-button color="primary" (click)='getEdamamRecipes(searchValue)' id='submit-search' type='submit' for='searchRecipes'>Submit</button>

<div>
  <div class="example-container mat-elevation-z8">
    <table #table [dataSource]="dataEdamamApi" mat-table>

      <ng-container matColumnDef="title">
        <th *matHeaderCellDef mat-header-cell>Title</th>
        <td *matCellDef="let element" class="title" mat-cell>{{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="favorite">
        <mat-header-cell  *matHeaderCellDef > Favorite </mat-header-cell>
        <mat-cell *matCellDef="let row" >
          <button mat-raised-button color="primary" (click)='postFavorite(row)' id='post-favorite' type='submit' for='name'>favorite</button>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="icon">
        <th *matHeaderCellDef mat-header-cell>Icon</th>
        <td *matCellDef="let element" mat-cell> {{element.icon}} </td>
      </ng-container>

      <ng-container matColumnDef="ingredients">
        <th *matHeaderCellDef mat-header-cell>Ingredients</th>
        <td *matCellDef="let element" mat-cell> {{element.ingredients}} </td>
      </ng-container>

      <ng-container matColumnDef="instructions">
        <th *matHeaderCellDef mat-header-cell>Instructions</th>
        <td *matCellDef="let element" mat-cell> {{element.instructions}} </td>
      </ng-container>

      <tr *matHeaderRowDef="dataEdamamColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: dataEdamamColumns;" mat-row></tr>
    </table>
  </div>
</div>  