# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
node_modules/@types/normalize-package-data/index.d.ts
node_modules/@types/normalize-package-data/LICENSE
node_modules/caseless/package.json
node_modules/camelcase/package.json
node_modules/brace-expansion/package.json
node_modules/bcrypt-pbkdf/package.json
