<nav class="navBar">
  <a  class="active" [routerLink]="['/recipes']" >Home</a>
  <a  [routerLink]="['/recipe-search']" >Search Recipe</a>
  <a  [routerLink]="['/recipe-list']" >My Recipe</a>
  <a  [routerLink]="['/recipe-create']" >Create Reicpe</a>
</nav>

<div class="button-row">
  <a [routerLink]="['/recipes']" color="primary" mat-raised-button>
    <mat-icon>list</mat-icon>
  </a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{recipe.title}}</h2></mat-card-title>
    <mat-card-subtitle>{{recipe.ingredients}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Title:</dt>
      <dd>{{recipe.title}}</dd>
      <dt>Ingredients</dt>
      <dd>{{recipe.ingredients}}</dd>
      <dt>Instructions</dt>
      <dd>{{recipe.instructions}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a [routerLink]="['/recipe-edit', recipe._id]" color="primary" mat-raised-button>
      <mat-icon>edit</mat-icon>
    </a>
    <a (click)="deleteRecipe(recipe._id)" color="warn" mat-raised-button>
      <mat-icon>delete</mat-icon>
    </a>
  </mat-card-actions>
</mat-card>
