.main {
  background-color: rgba(51, 51, 51, 255);
  color: white;
  text-align: center;
}
.title {
  color: green;
  padding-top: 1rem;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: auto;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* NAVBAR */

.navBar {
  background-color: #333;
  overflow: hidden;
  color: white;
  margin-bottom: 4rem;
}

.navBar a {
  float: left;
  color: #f2f2f2;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navBar a:hover {
  background-color: #f6d081;
  color: black;
}

/* Add a color to the active/current link */
.navBar a.active {
  background-color: rgb(55, 55, 216);
  color: white;
  width: auto;
}
